@media only screen and (max-width:600px){
    .hero{
        flex-direction: column;
        background-color: transparent !important;
    }
    .hero img{
        width: 50%;
    }
    .detail{
        text-align: center;
    }
    .detail p{
        margin-left: 5px;
        margin-right: 5px;
    }
}
.hero:hover img{
    border-color:#8750F7;
}
.hero img{
    border: 3px solid transparent;
}